<a href="https://colab.research.google.com/github/yoerisamwel/code_notes/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_type_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_type_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_1 = classification_type_counts[classification_type_counts > 1]
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_2 = 1000
classifications_to_replace = classification_type_counts[classification_type_counts < cutoff_value_2].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
columns_to_encode = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']
application_df_encoded = pd.get_dummies(application_df, columns=columns_to_encode)

In [10]:
# Split our preprocessed data into our features and target arrays
target_column = 'IS_SUCCESSFUL'
X = application_df_encoded.drop(target_column, axis=1)
y = application_df_encoded[target_column]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 43)
X_test shape: (6860, 43)
y_train shape: (27439,)
y_test shape: (6860,)

In [11]:
#Create a StandardScaler instances¶
scaler = StandardScaler()

#Fit the StandardScaler
X_scaler = scaler.fit(X_train)

#Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = 43
num_hidden_nodes_layer1 =  4
num_hidden_nodes_layer2 =  10
num_hidden_nodes_layer3 =  8
num_hidden_nodes_layer4 = 6
num_hidden_nodes_layer5 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=num_hidden_nodes_layer1, input_dim=num_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=num_hidden_nodes_layer2, input_dim=num_input_features, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=num_hidden_nodes_layer3, activation='relu'))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=num_hidden_nodes_layer4, activation='sigmoid'))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=num_hidden_nodes_layer5, activation='sigmoid'))

# Output layer
num_classes = 1
nn.add(tf.keras.layers.Dense(units=num_classes, activation='sigmoid'))


# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 4)                 176

 dense_5 (Dense)             (None, 10)                50

 dense_6 (Dense)             (None, 8)                 88

 dense_7 (Dense)             (None, 6)                 54

 dense_8 (Dense)             (None, 4)                 28

 dense_9 (Dense)             (None, 1)                 5

=================================================================
Total params: 401 (1.57 KB)
Trainable params: 401 (1.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
optimizer = 'adam'
loss = 'binary_crossentropy'
metrics = ['accuracy']
nn.compile(optimizer=optimizer, loss=loss, metrics=metrics)

In [34]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=10, batch_size=40, validation_split=0.8)

Epoch 1/10
138/138 [==============================] - 1s 5ms/step - loss: 0.5308 - accuracy: 0.7427 - val_loss: 0.5613 - val_accuracy: 0.7268
Epoch 2/10
138/138 [==============================] - 1s 5ms/step - loss: 0.5303 - accuracy: 0.7434 - val_loss: 0.5610 - val_accuracy: 0.7269
Epoch 3/10
138/138 [==============================] - 1s 6ms/step - loss: 0.5309 - accuracy: 0.7436 - val_loss: 0.5612 - val_accuracy: 0.7272
Epoch 4/10
138/138 [==============================] - 1s 6ms/step - loss: 0.5307 - accuracy: 0.7418 - val_loss: 0.5617 - val_accuracy: 0.7268
Epoch 5/10
138/138 [==============================] - 1s 5ms/step - loss: 0.5306 - accuracy: 0.7434 - val_loss: 0.5613 - val_accuracy: 0.7273
Epoch 6/10
138/138 [==============================] - 1s 6ms/step - loss: 0.5307 - accuracy: 0.7427 - val_loss: 0.5614 - val_accuracy: 0.7268
Epoch 7/10
138/138 [==============================] - 1s 6ms/step - loss: 0.5303 - accuracy: 0.7428 - val_loss: 0.5633 - val_accuracy: 0.7247
Epoch 8/10
138/138 [==============================] - 1s 6ms/step - loss: 0.5309 - accuracy: 0.7434 - val_loss: 0.5610 - val_accuracy: 0.7269
Epoch 9/10
138/138 [==============================] - 1s 5ms/step - loss: 0.5304 - accuracy: 0.7423 - val_loss: 0.5619 - val_accuracy: 0.7269
Epoch 10/10
138/138 [==============================] - 1s 5ms/step - loss: 0.5305 - accuracy: 0.7438 - val_loss: 0.5614 - val_accuracy: 0.7267

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5722 - accuracy: 0.7211 - 200ms/epoch - 929us/step
Loss: 0.572157084941864, Accuracy: 0.7211370468139648

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE